html, body {
  max-width: 500px;
  margin: auto;
  padding: 0px;
  background-color: rgb(74, 70, 96);
  align-items: center;
}

p, h1 {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
  display: block;
}

.main {
  align-items: center;
  width: 100%;

}
